importFrom("stats", "runif")
importFrom("utils", "read.table", "write.table")
importFrom("stats", "ks.test", "p.adjust", "quantile")
importFrom("utils", "combn")
export(scmageck_lr)
export(scmageck_rra)
export(pre_processRDS)
export(featurePlot)
export(selectPlot)
export(assign_cell_identity)
export(guidematrix_to_triplet)
export(read_gmt_file)
export(scmageck_eff_estimate)
export(scmageck_best_lambda)
import(Seurat)
import(ggplot2)
import(utils)
useDynLib(scMAGeCK, .registration=TRUE)
importFrom(Rcpp, evalCpp)
