importFrom("stats", "runif")
importFrom("utils", "read.table")
importFrom("utils", "write.table")
importFrom("stats", "ks.test")
importFrom("stats", "p.adjust")
importFrom("stats", "quantile")
importFrom("utils", "combn")
export(scMAGeCK_LR)
export(scMAGeCK_RRA)
import("Seurat")
