importFrom("stats", "runif")
importFrom("utils", "read.table", "write.table")
importFrom("stats", "ks.test", "p.adjust", "quantile")
importFrom("utils", "combn")
export(scmageck_lr)
export(scmageck_rra)
export(pre_processRDS)
export(featurePlot)
export(selectPlot)
import(Seurat)
import(ggplot2)

